<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.qs.dao.HouseDao">

    <resultMap id="houseMap" type="House">
        <id column="ID" property="id"/>
        <result column="INTRODUCE" property="introduce"/>
        <result column="STYLE" property="style"/>
        <result column="CITY" property="city"/>
        <result column="PRICE" property="price"/>
        <result column="STATUS" property="status"/>
        <result column="TITLE" property="title"/>
        <result column="HOUSE_URL" property="houseUrl"/>
        <result column="USER_ID" property="user.id"/>
        <result column="LANDMARK" property="landMark"/>
        <result column="LON" property="lon"/>
        <result column="LAT" property="lat"/>

        <association property="user" javaType="User">
            <id column="USER_ID" property="id"/>
            <result column="PHONE" property="phone"/>
            <result column="USER_NAME" property="userName"/>
        </association>
    </resultMap>



    <select id="findAllHouse" resultMap="houseMap">
        SELECT h.ID,h.INTRODUCE,h.STYLE,h.CITY,h.STATUS,h.TITLE,h.HOUSE_URL,h.USER_ID,
        h.LANDMARK,h.LON,h.LAT,u.PHONE,u.USER_NAME
        FROM HOUSE h INNER JOIN USER u ON h.USER_ID=u.ID
    </select>


    <select id="selectHouse" parameterType="House" resultMap="houseMap">
        SELECT h.ID,h.INTRODUCE,h.STYLE,h.CITY,h.STATUS,h.TITLE,h.HOUSE_URL,h.USER_ID,
        h.LANDMARK,h.LON,h.LAT,u.PHONE,u.USER_NAME
        FROM HOUSE h INNER JOIN USER u ON h.USER_ID=u.ID
        <where>
            <if test="status!=null and status!=''">and h.STATUS=#{status}</if>
            <if test="city!=null and city!=''">and h.CITY like concat('%',#{city},'%')</if>
            <if test="title!=null and title!=''">and TITLE like concat('%',#{title},'%')</if>
            <if test="landMark!=null and landMark!=''">and LANDMARK like concat('%',#{landMark},'%')</if>
            <if test="minPrice!=null">and PRICE &gt;=#{minPrice}</if>
            <if test="maxPrice!=null">and PRICE &lt;=#{maxPrice}</if>
        </where>
    </select>

    <insert id="addHouse" parameterType="House" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO HOUSE(INTRODUCE,STYLE,STATUS,TITLE,HOUSE_URL,USER_ID,LON,LAT)
        VALUES (#{introduce},#{style},1,#{title},#{houseUrl},#{userId},#{lon},#{lat})
    </insert>

    <select id="findHouseById" parameterType="int" resultMap="houseMap">
        SELECT h.ID,h.INTRODUCE,h.STYLE,h.CITY,h.STATUS,h.TITLE,h.HOUSE_URL,h.USER_ID,
        h.LANDMARK,h.LON,h.LAT,u.PHONE,u.USER_NAME
        FROM HOUSE h INNER JOIN USER u ON h.USER_ID=u.ID
        WHERE h.ID=#{id}
    </select>

    <select id="findHouseByLocation" parameterType="House" resultMap="houseMap">
       SELECT ID,LANDMARK,INTRODUCE,STYLE,CITY,TITLE,HOUSE_URL,USER_ID,PRICE,LAT,LON,
ROUND(
    6378.138 * 2 * ASIN(
        SQRT(
            POW(
                SIN(
                    (
                        #{lat} * PI() / 180 - lat * PI() / 180
                    ) / 2
                ),
                2
            ) + COS(#{lat} * PI() / 180) * COS(lat * PI() / 180) * POW(
                SIN(
                    (
                        #{lon} * PI() / 180 - lon * PI() / 180
                    ) / 2
                ),
                2
            )
        )
    ) * 1000
) AS juli
  FROM house
  HAVING juli>500
  ORDER BY juli ASC LIMIT 5;
</select>

</mapper>