<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.qs.dao.PhoneDao">
    <!--1.插入-->
    <insert id="addPhone" parameterType="Phone" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO PHONE(PHONE,CODE) VALUES (#{phone},#{code})
    </insert>
    <!--2.根据id删除-->
    <delete id="deletePhone" parameterType="String">
        DELETE FROM PHONE WHERE PHONE=#{phone}
    </delete>
    <!--3.查验证码是否存在-->
    <select id="checkCode" parameterType="Phone" resultType="long">
        SELECT COUNT(ID) FROM PHONE WHERE PHONE=#{phone} and CODE=#{code}
    </select>
</mapper>