<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.qs.dao.UserDao">
    <!--1.手机查用户是否存在，密码登录，根据id返回信息-->
    <resultMap id="userMap" type="User">
        <id property="id" column="ID"></id>
        <result property="nickName" column="NICK_NAME"></result>
        <result property="realName" column="REAL_NAME"></result>
        <result property="gender" column="GENDER"></result>
        <result property="age" column="AGE"></result>
        <result property="phone" column="PHONE"></result>
        <result property="nation" column="NATION"></result>
        <result property="city" column="CITY"></result>
        <result property="profession" column="PROFESSION"></result>
        <result property="introduce" column="INTRODUCE"></result>
    </resultMap>

    <select id="getUser" parameterType="User" resultMap="userMap">
        SELECT ID,NICK_NAME,REAL_NAME,GENDER,AGE,PHONE,NATION,CITY,PROFESSION,INTRODUCE
        FROM USER
        <where>
            <if test="phone!=null and phone!=''">PHONE=#{phone}</if>
            <if test="userName!=null and userName!=''">AND USER_NAME=#{userName}</if>
            <if test="password!=null and password!=''"> AND PASSWORD=#{password}</if>
        </where>
    </select>

    <!--2.新建用户:插入必填项，其他的后面更新-->
    <insert id="addUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO USER(USER_NAME,NICK_NAME,REAL_NAME,PHONE) VALUES(#{userName},#{nickName},#{realName},#{phone})
    </insert>

    <!--3.插入登录票据-->
    <insert id="addTicket" parameterType="Info" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO INFO(TICKET,UID)
        VALUES (#{ticket},#{uid})
    </insert>

    <!--4.查票据id-->
    <select id="getUID" parameterType="String" resultType="int">
        SELECT UID FROM INFO WHERE TICKET=#{ticket}
    </select>

    <!--5.根据电话修改用户信息，根据电话修改密码-->
    <update id="updateUser" parameterType="User">
    UPDATE USER
    <set>
        <if test="password!=null and password!=''">PASSWORD=#{password},</if>
        <if test="nickName!=null and nickName!=''">NICK_NAME=#{nickName},</if>
        <if test="realName!=null and realName!=''">REAL_NAME=#{realName},</if>
        <if test="gender!=null and gender!=''">GENDER=#{gender},</if>
        <if test="age!=null">AGE=#{age},</if>
        <if test="nation!=null and nation!=''">NATION=#{nation},</if>
        <if test="city!=null and city!=''">CITY=#{city},</if>
        <if test="profession!=null and profession!=''">PROFESSION=#{profession},</if>
        <if test="introduce!=null and introduce!=''">INTRODUCE=#{introduce},</if>
        PHONE=#{phone}
    </set>
    WHERE PHONE=#{phone}
    </update>

    <!--6.退出登录-->
    <delete id="deleteTicket" parameterType="String">
        DELETE FROM INFO WHERE TICKET=#{ticket}
    </delete>

    <!--7.添加收藏-->
    <insert id="addCollection" parameterType="User">
        INSERT INTO COLLECT(HOUSE_ID,USER_ID)
        VALUES (#{houseId},#{id})
    </insert>

    <!--8.展示收藏-->
    <select id="findCollection" parameterType="int" resultMap="userMap">
        SELECT h.ID,h.INTRODUCE,h.STYLE,h.CITY,h.PRICE,h.TITLE,h.HOUSE_URL,h.LANDMARK
        FROM HOUSE h
        INNER JOIN COLLECT c
        ON h.ID=c.HOUSE_ID
        INNER JOIN USER u
        ON c.USER_ID=u.ID
        WHERE u.ID=#{id}
    </select>

    <!--9.添加浏览记录-->
    <insert id="addBrowse" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO BROWSE(HOUSE_ID,USER_ID,CREATED_DATE)
        VALUES (#{houseId},#{id},now())
    </insert>

    <!--10.展示浏览记录-->
    <select id="findBrowse" parameterType="int" resultMap="userMap">
        SELECT h.ID,h.INTRODUCE,h.STYLE,h.CITY,h.PRICE,h.TITLE,h.HOUSE_URL,h.LANDMARK
        FROM HOUSE h
        INNER JOIN BROWSE b
        ON h.ID=b.HOUSE_ID
        INNER JOIN USER u
        ON b.USER_ID=u.ID
        WHERE u.ID=#{id}
        ORDER BY CREATED_DATE DESC
    </select>
</mapper>